PUID=1000
PGID=1000
TZ=Europe/Madrid
GUI_PWD=12345Abcde
WEBUI_PWD=12345Abcde
MOD_AUTO_RESTART_ENABLED=true
MOD_AUTO_RESTART_CRON='0 6 * * *'
MOD_AUTO_SHARE_ENABLED=false
MOD_AUTO_SHARE_DIRECTORIES=/incoming;/my_movies
MOD_FIX_KAD_GRAPH_ENABLED=true

AMULE_CONFIG_PATH=./test/amule
AMULE_DOWNLOAD_PATH=./test/download
AMULE_INCOMPLETE_PATH=./test/temp

AMULE_WEBUI_PORT=4711
AMULE_REMOTE_GUI_PORT=4712
AMULE_ED2K_TCP_PORT=4662
AMULE_ED2K_SEARCH_UDP_PORT=4665
AMULE_ED2K_UDP_PORT=4672
